.color-box{
    padding: 20px 0;
    height: 160px;
    text-align: center;
    display: block;
    opacity: .9;
    &:hover{
        opacity: 1;
        text-decoration: none;
        color:#333;
        transform:scale(1.08);
        transition: all .3s;
    }
    .count{
        font-size: 50px;
        height: 80px;
        line-height: 80px;
    }
    .desc{
        font-size: 18px;
        .fa{
            margin-right: 5px;
        }
    }
}